<%-include("../partials/header") %>

<h1><%=book.title%></h1>
<p><%=book.description%></p>

<a class="ui blue basic button" href="/books">Go Back</a>
<a class="ui orange basic button" href="/books/<%=book._id%>/edit">Edit</a>

<%-include("../partials/footer") %>